# Maven
target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.factorypath
.settings/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class

# Environment
.env
.env.*
